data/
*.csv
*.zip
*.parquet
*.npy
*.sqlite3
*chroma_db/
*chroma_imdb_db/
*ipl_chromadb
*chroma_store
*vector_db
*.xlsx
# Python
__pycache__/
*.pyc
.venv/
venv/
*.json

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Large datasets
data/
datasets/
chroma_db/


# Model files
*.h5
*.pt
*.pth
*.ckpt
.json

# VS Code
.vscode/


